body{
    margin:0;
    background-image:url("vex.png");
    background-color: #cccccc;
}
/*diplay column left*/
.column {
    margin-top: 0;
    background-color: rgb(120, 120, 114);
    display: flex 50%;
    padding: 5px;
    height: 500px;
    float: left;
    width: 9%;
    background:rgb(117, 113, 113, 0.9); 
}
/*styles for the web links */
.link_web{
    margin:2px;
    padding:5px;
    color:red;
    font-size: 20px;
    transition-duration: 0.7s;
    text-decoration: none;
}
.link_web:hover{
   opacity: 0.5;
}
/*display row middle*/
.row {
    margin-top: 5px;
    display: flex 50%;
    padding: 10px;
    height: auto;
    float: right;
    width: 85%;
    background-color: rgb(117, 113, 113);
    background: rgb(117, 113, 113, 0.9);
}
/*row inside the middle one*/
.row2{
    display: flex;
    height: auto;
    float: right;
    width: 55%;
}
.robo:hover{
    opacity: 0.9;
    
}
/*row2 img*/
.robo{
    width: 100%;  
}
/*titles*/
.titulo {
    background-color: rgb(117, 113, 113);
    color:red;
    font-size: 20px;
    padding: 3px;
    padding-left: 25px;
   
}
.foot{
    position:absolute;
    margin-top:500px;
    margin-left: 40%;
    margin-right: 40%;
    font-size:20px;
}
